body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: rem(30) rem(10);
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #fff;
	width: 100%;
	max-width: rem(900);
	.lock & {
		visibility: visible;
	}
}
.popup {
}
.city-popup {
	// .city-popup__title
	&__title {
		display: flex;
		background: #f9f9f9;
		justify-content: space-between;
		align-items: center;
		padding: rem(13) rem(20);
		font-weight: 700;
		font-size: rem(20);
		line-height: 130%;
		color: #1d1d1d;
	}
	// .city-popup__close
	&__close {
		font-size: rem(13);
	}
	// .city-popup__form
	&__form {
		padding: rem(30) rem(40);
	}
	// .city-popup__items
	&__items {
		display: flex;
		justify-content: space-between;
		gap: rem(20);
		flex-wrap: wrap;
	}
	// .city-popup__item
	&__item {
		font-weight: 400;
		font-size: rem(18);
		line-height: 100%;
		color: #1d1d1d;
		display: block;
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
		cursor: pointer;
		@media (max-width: $mobileSmall) {
			margin-left: auto;
			margin-right: auto;
		}
		@media (any-hover: hover) {
			&:hover {
				transition: 0.1s;
				color: $hoverGreen;
			}
			&:not(:hover) {
				transition: 0.1s;
			}
		}
		&._active {
			color: $hoverGreen;
		}
		&._hidden {
			display: none;
		}
	}
	// .city-popup__input
	&__input {
		margin: rem(0) rem(0) rem(30) rem(0);
		input {
			border-bottom: rem(1) solid rgba(0, 0, 0, 0.5);
			width: 100%;
			&._form-focus {
				border-bottom: rem(1) solid rgba(0, 0, 0, 0.8);
			}
		}
	}
	// .city-popup__placeholder
	&__placeholder {
	}
	// .city-popup__column
	&__column {
		flex: 0 1 calc(25% - rem(20) * 3 / 4);
		@media (max-width: $mobile) {
			flex: 0 1 calc(50% - rem(20) / 2);
		}
		@media (max-width: $mobileSmall) {
			flex: 0 1 100%;
		}
	}
}
.account-success-popup {
	.popup__wrapper {
		@media (min-width: $mobileSmall) {
			padding-right: rem(17);
		}
	}
	.popup__content {
		max-width: rem(400);
		border-radius: rem(10);
		margin: 0 auto;
		overflow: hidden;
	}
	// .account-success-popup__title
	&__title {
		background: #f9f9f9;
		padding: rem(13) rem(20);
		font-weight: 700;
		font-size: rem(20);
		line-height: 130%;
		color: #1d1d1d;
		p {
			text-align: center;
		}
	}
	// .account-success-popup__body
	&__body {
		padding: rem(30) rem(40);
		@media (max-width: $mobileSmall) {
			padding: rem(20) rem(20);
		}
	}
	// .account-success-popup__text
	&__text {
		line-height: 140%;
	}
	// .account-success-popup__button
	&__button {
		margin: rem(20) rem(0) rem(0) rem(0);
		width: 100%;
	}
}
