// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: rem(15);
}
// Спойлер
.spollers__item {
	font-size: rem(20);
}
// Заголовок спойлера
.spollers__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: rem(18);
	line-height: math.div(18, 18);
	color: #1d1d1d;
	@media (max-width: $mobile) {
		font-size: rem(14);
	}
	p {
		display: flex;
		gap: rem(10);
	}
}
// Контент спойлера
.spollers__body {
}
.spoller-icon {
	display: block;
	flex: 0 0 rem(20);
	height: rem(20);
	width: rem(20);
	border-radius: 50%;
	background: $hoverGreen;
	position: relative;
	@media (any-hover: hover) {
		&:not(._disabled):hover {
			transition: 0.1s;
			background: #4a695b;
		}
		&:not(:hover) {
			transition: 0.1s;
		}
	}
	&::after,
	&::before {
		content: "";
		position: absolute;
		background: #fff;
		transition: 0.2s;
	}
	&::after {
		width: 50%;
		height: rem(2);
		left: 25%;
		top: calc(50% - rem(1));
	}
	&:before {
		height: 50%;
		width: rem(2);
		top: 25%;
		left: calc(50% - rem(1));
	}
	&._disabled {
		cursor: default;
	}
}

._spoller-active {
	.spoller-icon:before {
		opacity: 0;
	}
}
