//<FORM>
// Снипет (HTML):
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
		color: red;
		margin: rem(5) rem(0) rem(0) rem(0);
	}
}

.input_border,
textarea,
.select__title:not(.select__title_search) {
	border: rem(2) solid rgba(29, 29, 29, 0.2);
	padding: rem(12) rem(15);
	border-radius: rem(5);
	color: rgba(29, 29, 29, 1);
	font-size: rem(18);
	line-height: 127%;
	gap: rem(14);
	&::-webkit-input-placeholder {
		color: rgba(29, 29, 29, 0.65);
	}
	&::-moz-placeholder {
		color: rgba(29, 29, 29, 0.65);
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(14);
	}
}
input,
textarea {
	width: 100%;
}
textarea {
	height: rem(133);
	resize: none;
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
//@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";

// <RATING>
// Снипет (HTML): rating
@import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
@import "range";
