// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	width: 100%;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		color: inherit;
		cursor: pointer;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
		padding: rem(10) rem(10);
		color: #1d1d1d;
		font-size: rem(12);
		._icon-arrow {
			transform: rotate(90deg);
			font-size: rem(13);
		}
		span.option-placeholder {
			color: rgba(29, 29, 29, 0.65);
		}
	}
	// .select__value
	&__value {
		display: flex;
		align-items: center;
		gap: rem(10);
		flex: 1 1 auto;
		> * {
			flex: 1 1 auto;
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		position: absolute;
		background-color: #fff;
		box-shadow: 0 rem(3) rem(5) rgba(0, 0, 0, 0.5);
		border-radius: rem(10);
		overflow: auto;
		min-width: 100%;
		top: rem(48);
		left: 0;
		border-radius: rem(5);
		max-height: rem(100);
		@media (max-width: $mobileSmall) {
			top: rem(42.4);
		}
		&::-webkit-scrollbar {
			width: rem(5); /* ширина всей полосы прокрутки */
		}

		&::-webkit-scrollbar-track {
			background: #fff; /* цвет зоны отслеживания */
			border-top-right-radius: rem(10);
			border-bottom-right-radius: rem(10);
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgb(190, 190, 190); /* цвет бегунка */
			border-radius: rem(10); /* округлось бегунка */
		}
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: rem(200);
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: rem(10) rem(10);
		color: #1d1d1d;
		font-size: rem(12);
		letter-spacing: rem(0.15);
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #e0e0e0;
				transition: 0.1s;
			}
			&:not(:hover) {
				transition: 0.1s;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	._icon-arrow {
		transition: 0.2s;
	}
	// Состояния селекта
	&._select-open {
		z-index: 5;
		.spoller-icon {
			&::before {
				opacity: 0;
			}
		}
		._icon-arrow {
			transform: rotate(270deg);
		}
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

.select__title_search {
	padding: 0;
	input {
		&:not(.option-placeholder) {
			&::-webkit-input-placeholder {
				color: rgba(29, 29, 29, 1);
			}
			&::-moz-placeholder {
				color: rgba(29, 29, 29, 1);
			}
		}
	}
}
// Тег
._select-tag {
	cursor: pointer;
}
