%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-favorite2:before {
	content: "\e91d";
}
._icon-star:before {
	content: "\e900";
}
._icon-arrow:before {
	content: "\e901";
}
._icon-card:before {
	content: "\e902";
}
._icon-cart:before {
	content: "\e903";
}
._icon-catalog:before {
	content: "\e904";
}
._icon-edit:before {
	content: "\e905";
}
._icon-delivery:before {
	content: "\e906";
}
._icon-facebook:before {
	content: "\e907";
}
._icon-favorite:before {
	content: "\e908";
}
._icon-filter:before {
	content: "\e909";
}
._icon-eye:before {
	content: "\e90a";
}
._icon-home:before {
	content: "\e90b";
}
._icon-home-adress:before {
	content: "\e90c";
}
._icon-instagram:before {
	content: "\e90d";
}
._icon-location:before {
	content: "\e90e";
}
._icon-mail:before {
	content: "\e90f";
}
._icon-my-inf:before {
	content: "\e910";
}
._icon-order:before {
	content: "\e911";
}
._icon-payment:before {
	content: "\e912";
}
._icon-percent:before {
	content: "\e913";
}
._icon-phone:before {
	content: "\e914";
}
._icon-return:before {
	content: "\e915";
}
._icon-search:before {
	content: "\e916";
}
._icon-send-mail:before {
	content: "\e917";
}
._icon-tenge:before {
	content: "\e918";
}
._icon-trash:before {
	content: "\e919";
}
._icon-user:before {
	content: "\e91a";
}
._icon-whatsapp:before {
	content: "\e91b";
}
._icon-x:before {
	content: "\e91c";
}
._icon-eye-blocked:before {
	content: "\e9d1";
}
._icon-checkmark:before {
	content: "\ea10";
}
