.breadcrumbs {
	margin: rem(0) rem(0) rem(25) rem(0);
	display: flex;
	font-size: rem(18);
	line-height: math.div(26, 18);
	color: rgba(29, 29, 29, 0.5);
	@media (max-width: $mobile) {
		font-size: rem(14);
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(12);
	}

	// .breadcrumbs__link
	&__link {
		cursor: pointer;
		font-size: inherit;
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	// .breadcrumbs__link-current
	&__link-current {
		color: $hoverGreen;
		font-size: inherit;
		display: flex;
		align-items: center;
		gap: rem(10);
		@media (max-width: $mobileSmall) {
			color: #1d1d1d;
			font-size: rem(14);
		}
		i {
			margin: rem(-3) rem(0) rem(0) rem(0);
			display: none;
			font-size: rem(11);
			transform: rotate(180deg);
			.touch & {
				@media (max-width: $mobileSmall) {
					display: block;
				}
			}
		}
		@media (min-width: $mobileSmall) {
			cursor: default;
			pointer-events: none;
		}
	}
	span {
		margin: rem(0) rem(3);
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
}
