.category {
	// .category__container
	&__container {
	}
	// .category__breadcrumbs
	&__breadcrumbs {
	}
	// .category__body
	&__body {
		display: flex;
		gap: rem(70);
		@media (max-width: $pc) {
			gap: rem(50);
		}
		@media (max-width: $tablet) {
			gap: rem(40);
		}
		@media (max-width: $mobile) {
			gap: rem(30);
		}
	}
	// .category__filter
	&__filter {
	}
	// .category__main
	&__main {
	}
	// .category__title
	&__title {
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .category__sort
	&__sort {
		margin: rem(15) rem(0) rem(0) rem(0);
	}
	// .category__actions
	&__actions {
		display: none;
		gap: rem(20);
		justify-content: space-between;
		@media (max-width: $mobile) {
			display: flex;
		}
		@media (max-width: $mobileSmall) {
			gap: rem(10);
		}
	}
	// .category__action
	&__action {
		align-self: flex-start;
	}
	// .category__products
	&__products {
		margin: rem(50) rem(0) rem(0) rem(0);
	}
}
.touch {
	@media (max-width: $mobileSmall) {
		.action-category {
			display: flex;
		}
	}
	.category .breadcrumbs {
		display: none;
	}
}
.filter {
	@media (min-width: $mobile) {
		max-width: rem(330);
		flex: 0 0 rem(330);
		@media (max-width: $pc) {
			flex: 1 1 rem(330);
		}
	}
	@media (max-width: $mobile) {
		background: #fcfcfc;
	}
	transition: 0.2s;
	z-index: 140;
	@media (max-width: $mobile) {
		transform: translateX(-100%);
		width: 100%;
		height: 100%;
		position: absolute;
		top: rem(110);
		overflow: scroll;
		margin: rem(0) rem(0) rem(0) rem(-20);
		padding: rem(25) rem(0) rem(110) rem(0);
	}
	@media (max-width: $mobileSmall) {
		top: rem(50);
		padding: rem(25) rem(0) rem(50) rem(0);
	}
	.filter-open & {
		transform: translateX(0%);
	}
	// .filter__items
	&__items {
	}
	// .filter__close
	&__close {
		display: none;
		font-size: rem(13);
		color: rgba(29, 29, 29, 0.5);
		@media (max-width: $mobile) {
			display: block;
		}
	}
	// .filter__item
	&__item {
		box-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.1);
		border-radius: rem(10);
		padding: rem(25) rem(20);
		// .filter__item_header
		&_header {
			padding: rem(30) rem(20);
		}
		@media (max-width: $mobile) {
			padding: rem(20) rem(20);
		}
	}
	// .filter__title
	&__title {
		font-size: rem(18) !important;
	}
}
.spollers {
	// .spollers__item
	&__item {
	}
	// .spollers__title
	&__title {
	}
	// .spollers__body
	&__body {
	}
}
.header-filter {
	// .header-filter__info
	&__info {
		margin: rem(0) rem(0) rem(30) rem(0);
		@media (max-width: $mobile) {
			padding: rem(0) rem(20);
		}
	}
	// .header-filter__actions
	&__actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header-filter__btn
	&__btn {
		text-decoration: underline;
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .header-filter__text
	&__text {
		line-height: math.div(20, 14);
		color: rgba(29, 29, 29, 0.5);
		margin: rem(8) rem(0) rem(0) rem(0);
		@media (max-width: $mobile) {
			font-size: rem(12);
		}
	}
	// .header-filter__price
	&__price {
	}
	// .header-filter__category
	&__category {
		display: none;
		.touch & {
			display: block;
		}
		margin: rem(0) rem(0) rem(35) rem(0);
	}
	// .header-filter__checkbox
	&__checkbox {
		display: grid;
		grid-auto-flow: dense;
		margin: rem(20) rem(0) rem(0) rem(0);
		grid-template-columns: auto 1fr;
		column-gap: rem(15);
		div:last-child {
			grid-column: auto/span 2;
		}
	}
}
.filter-item {
	// .filter-item__title
	&__title {
		font-size: rem(18);
		line-height: 100%;
		@media (max-width: $mobile) {
			font-size: rem(14);
		}
	}
	// .filter-item__subtitle
	&__subtitle {
		font-size: rem(18);
		line-height: 100%;
		color: #a9a9a9;
		margin: rem(0) rem(0) rem(0) rem(4);
		@media (max-width: $mobile) {
			font-size: rem(14);
		}
	}
	// .filter-item__header
	&__header {
	}
	// .filter-item__icon
	&__icon {
	}
	// .filter-item__checkbox
	&__checkbox {
		padding: rem(20) rem(0) rem(0) rem(0);
	}
	// .filter-item__input
	&__input {
	}
	// .filter-item__label
	&__label {
	}
	// .filter-item__text
	&__text {
	}
}
.price-filter {
	// .price-filter__header
	&__header {
		display: flex;
	}
	// .price-filter__body
	&__body {
		margin: rem(15) rem(0) rem(0) rem(0);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .price-filter__slider
	&__slider {
		height: rem(2);
		background: rgba(0, 0, 0, 0.5);
	}
	// .price-filter__inputs
	&__inputs {
		display: inline-flex;
		//flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: rem(15);
		margin: rem(20) rem(0) rem(0) rem(0);
	}
	// .price-filter__input
	&__input {
		max-width: rem(120);
		background: #f9f9f9;
		border-radius: rem(10);
		padding: rem(10) rem(15);
		line-height: math.div(20, 14);
		color: rgba(29, 29, 29, 0.8);
		text-align: center;
		@media (max-width: $pc) {
			max-width: rem(90);
		}
		// .price-filter__input_first
		&_first {
		}
		// .price-filter__input_last
		&_last {
		}
	}
}
.noUi-base {
	height: rem(2);
}
.noUi-connect {
	background: $hoverGreen;
}
.noUi-handle {
	width: rem(10);
	height: rem(10);
	background: $hoverGreen;
	border-radius: 50%;
	right: rem(-5);
	top: rem(-4);
}
.checkbox {
	// .checkbox__item
	&__item {
	}
	// .checkbox__input
	&__input {
	}
	// .checkbox__label
	&__label {
	}
	// .checkbox__text
	&__text {
	}
}
.sort-category {
	display: flex;
	@media (max-width: $mobile) {
		display: none;
	}
	//align-items: center;
	// .sort-category__title
	&__title {
		font-size: rem(18);
		color: #1d1d1d;
		white-space: nowrap;
	}
	// .sort-category__items
	&__items {
		margin: rem(0) rem(0) rem(0) rem(15);
		display: flex;
		gap: rem(15);
		flex-wrap: wrap;
	}
	// .sort-category__item
	&__item {
		line-height: 1;
		&._active {
			color: $hoverGreen;
			pointer-events: none;
		}
	}
}
.action-category {
	border: rem(2) solid rgba(29, 29, 29, 0.5);
	position: relative;
	//padding: rem(10) rem(10);
	// .action-category__title
	&__title {
		font-size: rem(12);
		letter-spacing: rem(0.4);
		color: $hoverGreen;
		position: absolute;
		background: #fff;
		padding: rem(0) rem(3);
		bottom: calc(100% - rem(6));
		left: rem(15);
	}
	// .action-category__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(10);
		height: 100%;
		width: 100%;
		i {
			color: $hoverGreen;
			font-size: rem(17);
		}
	}
	.select__title {
		border: none;
		padding: rem(15) rem(10);
		border-radius: rem(5);
		font-size: rem(16);
		line-height: 200%;
		&::-webkit-input-placeholder {
			color: rgba(29, 29, 29, 0.65);
		}
		&::-moz-placeholder {
			color: rgba(29, 29, 29, 0.65);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(12);
		}
	}
	.select__options {
		top: rem(64);
		min-width: calc(100% + rem(3.2));
		left: rem(-1.5);
		border-radius: rem(0);
		@media (max-width: $mobileSmall) {
			top: rem(56);
		}
	}
}
.touch {
}
.sort-action {
	min-width: rem(166);
	// .sort-action__icon
	&__icon {
		flex: 0 1 rem(17);
		width: rem(17);
		height: rem(17);
	}
}
.filter-action {
	padding: rem(15) rem(10);
	// .filter-action__subtitle
	&__subtitle {
		font-size: rem(16);
		@media (max-width: $mobileSmall) {
			font-size: rem(12);
		}
		line-height: 200%;
		span {
			display: block;
			&:not(:last-child) {
				margin: rem(0) rem(0) rem(8) rem(0);
			}
		}
	}
}
.products {
	// .products__items
	&__items {
		display: flex;
		justify-content: space-between;
		gap: rem(35);
		@media (max-width: $tablet) {
			gap: rem(25);
		}
		@media (max-width: $mobileSmall) {
			gap: rem(10);
		}
		flex-wrap: wrap;
	}
	.product {
		flex: 0 1 calc(33% - rem(35) * 2 / 3);
		@media (max-width: $tablet) {
			flex: 0 1 calc(50% - rem(25) / 2);
		}
		// .product__content
		&__content {
			@media (max-width: $mobileSmall) {
				padding: rem(0) rem(5);
			}
		}
	}
	.price-product {
		@media (max-width: $mobileSmall) {
			&._active {
				display: flex;
			}
			flex-wrap: wrap;
			gap: rem(4);
			align-items: center;
		}
		// .price-product__title
		&__title {
			@media (max-width: $mobileSmall) {
				margin: 0;
			}
		}
		// .price-product__item
		&__item {
			@media (max-width: $mobileSmall) {
				font-size: rem(12);
			}
		}
	}
	.reviews-product__stars {
		@media (max-width: $mobileSmall) {
			margin-right: rem(4);
		}
		i {
			@media (max-width: $mobileSmall) {
				font-size: rem(7.5);
				&:not(:last-child) {
					margin: rem(0) rem(0) rem(0) rem(0);
				}
			}
		}
	}
	.installment-price-product {
		// .installment-price-product__price
		&__price {
			@media (max-width: $mobileSmall) {
				background: #fff;
				color: $hoverGreen;
				padding: 0;
			}
		}
		// .installment-price-product__time
		&__time {
			@media (max-width: $mobileSmall) {
				display: none;
			}
		}
	}
	// .products__more
	&__more {
		margin: rem(30) rem(0) rem(0) rem(0);
		padding: rem(13) rem(20);
		width: 100%;
	}
}
