//====================================================================================================
.footer {
	background: #f2f2f2;
	padding: rem(40) rem(0);
	color: rgba(29, 29, 29, 0.5);
	@media (max-width: $mobile) {
		padding: rem(40) rem(0) rem(105) rem(0);
	}
	// .footer__container
	&__container {
	}
	// .footer__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: rem(40) rem(20);
		justify-content: space-between;
		@media (max-width: $mobile) {
			gap: rem(20);
		}
		@media (max-width: $mobileSmall) {
			gap: rem(15);
		}
	}
	// .footer__item
	&__item {
	}
}
.item-footer {
	flex: 0 1 calc(20% - rem(20) * 4 / 5);
	@media (max-width: $pc) {
		flex: 0 1 calc(33.33% - rem(20) * 2 / 3);
	}
	@media (max-width: $mobile) {
		flex: 0 1 calc(50% - rem(20) / 2);
	}
	@media (max-width: $mobileSmall) {
		flex: 0 1 100%;
	}
	// .item-footer__title
	&__title {
		line-height: 130%;
		width: 100%;
		color: #1d1d1d;
		font-size: rem(18);
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (min-width: $mobileSmall) {
			cursor: default;
		}
		i {
			display: none;
			@media (max-width: $mobileSmall) {
				display: flex;
			}
		}
	}
	// .item-footer__content
	&__content {
		margin: rem(25) rem(0) rem(0) rem(0);
	}
	// .item-footer__link
	&__link {
		&:not(:last-child) {
			margin: rem(0) rem(0) rem(15) rem(0);
		}
		line-height: 130%;
		display: flex;
		align-items: center;
		gap: rem(8);
		i {
			font-size: rem(18);
		}
		._color-green {
			color: $hoverGreen;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $hoverGreen;
				transition: 0.1s;
			}
			&:not(:hover) {
				transition: 0.1s;
			}
		}
	}
	// .item-footer__icons
	&__icons {
		display: flex;
		gap: rem(20);
		.item-footer__link {
			margin: 0;
		}
		i {
			font-size: rem(18);
		}
	}
	// .item-footer__info
	&__info {
		margin: rem(0) rem(0) rem(16) rem(0);
	}
	// .item-footer__input
	&__input {
		.form__input-inner {
			display: flex;
		}
		input {
			background: #fff;
			height: rem(50);
			width: 100%;
			padding: rem(15) rem(22);
			border-top-left-radius: rem(10);
			border-bottom-left-radius: rem(10);
			border-radius: rem(10) rem(0) rem(0) rem(10);
			color: inherit;
			max-width: rem(215);
		}
	}
	// .item-footer__input-icon
	&__input-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		background: $hoverGreen;
		border-radius: 0 rem(10) rem(10) 0;
		width: rem(50);
		font-size: rem(24);
	}
}
//====================================================================================================
