//====================================================================================================
.main {
	background: $hoverGreen;
	padding: rem(100) rem(0);
	@media (max-width: $tablet) {
		padding: rem(80) rem(0);
	}
	@media (max-width: $mobile) {
		padding: rem(50) rem(0);
	}
	@media (max-width: $mobileSmall) {
		padding: rem(20) rem(0);
	}
	// .main__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $tablet) {
			flex-wrap: wrap;
		}
	}

	// .main__content
	&__content {
		flex: 0 0 50%;
		@media (max-width: $tablet) {
			flex: 0 0 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
	// .main__title
	&__title {
		font-weight: 700;
		font-size: rem(60);
		line-height: 130%;
		color: #f9f9f9;
		@media (max-width: $tablet) {
			text-align: center;
		}
		@media (max-width: $mobile) {
			font-size: rem(50);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(30);
		}
	}
	// .main__show-all
	&__show-all {
		margin: rem(32) rem(0) rem(0) rem(0);
		@media (max-width: $mobileSmall) {
			margin: rem(20) rem(0) rem(0) rem(0);
		}
	}
	// .main__slider
	&__slider {
		flex: 1 1 100%;
		min-width: 0;
		@media (max-width: $tablet) {
			margin: rem(75) rem(0) rem(0) rem(0);
		}
		@media (max-width: $mobile) {
			margin: rem(40) rem(0) rem(0) rem(0);
		}
		@media (max-width: $mobileSmall) {
			margin: rem(15) rem(0) rem(0) rem(0);
		}
		@media (max-width: $tablet) {
			padding: rem(0) rem(30);
		}
	}
}
.slider-main {
	// .slider-main__inner
	&__inner {
	}
	// .slider-main__wrapper
	&__wrapper {
	}
	// .slider-main__slide
	&__slide {
		padding: rem(10);
		align-self: stretch;
		&:not(:last-child) {
			padding: rem(10) rem(10) rem(10) rem(10);
		}
		@media (max-width: $tablet) {
			display: block;
		}
	}
}
.swiper-pagination {
	display: flex;
	justify-content: center;
	margin: rem(15) rem(0) rem(0) rem(0);
}
.swiper-pagination-bullet {
	display: block;
	background: #fcfcfc;
	width: rem(10);
	height: rem(10);
	opacity: 0.5;
	border-radius: 50%;
	box-sizing: content-box;
	transition: 0.2s;
	&:not(:last-child) {
		margin: rem(0) rem(8) rem(0) rem(0);
	}
	&-active {
		background: #fff;
		opacity: 1;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&::after {
			position: absolute;
			height: 40%;
			width: 40%;
			content: "";
			background: #62907b;
			display: block;
			border-radius: 50%;
		}
	}
}
.show-all-main {
	@media (max-width: $tablet) {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	//.show-all-main__button
	&__button {
		padding: rem(13) rem(38);
		align-self: center;
	}
}
.slide-main {
	// .slide-main__imageblock
	&__imageblock {
		position: relative;
		display: block;
		z-index: 9;
		height: 100%;
		@media (any-hover: hover) {
			&:hover {
				transition: 0.1s;
				.slide-main__label {
					opacity: 1;
					pointer-events: all;
				}
			}
			&:not(:hover) {
				transition: 0.1s;
			}
		}
		img {
			position: relative;
			filter: drop-shadow(0 0 rem(5) rgba(0, 0, 0, 0.75));
			z-index: 2;
			display: block;
			object-fit: cover;
			width: 100%;
			height: 100%;
			// @media (max-width: $mobile) {
			// 	max-height: rem(260);
			// }
			// @media (max-width: $mobileSmall) {
			// 	max-height: rem(220);
			// }
		}
	}
	// .slide-main__label
	&__label {
		position: absolute;
		width: rem(150);
		right: 100%;
		bottom: rem(29);
		border-radius: rem(10) rem(0) rem(0) rem(10);
		background: #f9f9f9;
		display: flex;
		opacity: 0;
		align-items: center;
		justify-content: center;
		gap: rem(5);
		padding: rem(16) rem(45);
		z-index: 1;
		pointer-events: none;
		transition: all 0.2s ease 0s;
		cursor: auto !important;
	}

	&.swiper-slide-active {
		.slide-main__label {
			left: 100%;
			right: auto;
			border-radius: rem(0) rem(10) rem(10) rem(0);
		}
		@media (any-hover: hover) {
			&:hover {
				z-index: 99;
			}
		}
	}
}
.content {
	padding: rem(100) rem(0);
	@media (max-width: $mobile) {
		padding: rem(40) rem(0);
	}
	// .content__container
	&__container {
	}
	// .content__item
	&__item {
		&:not(:last-child) {
			margin: rem(0) rem(0) rem(100) rem(0);
			@media (max-width: $mobileSmall) {
				margin: rem(0) rem(0) rem(40) rem(0);
			}
		}
	}
}
.item-content {
	// .item-content__top
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: rem(0) rem(0) rem(30) rem(0);
		@media (max-width: $mobile) {
			margin: rem(0) rem(0) rem(25) rem(0);
		}
	}
	// .item-content__text
	&__text {
		display: inline-flex;
		@media (max-width: $mobileSmall) {
			align-items: center;
			display: flex;
			justify-content: space-between;
			flex: 0 1 100%;
		}
	}
	// .item-content__title
	&__title {
	}
	// .item-content__link
	&__link {
		margin: rem(0) rem(0) rem(0) rem(30);
		color: $hoverGreen;
		a {
			position: relative;
			&::after {
				position: absolute;
				display: block;
				content: "";
				top: 100%;
				left: 0;
				height: rem(1);
				width: 100%;
				background: $hoverGreen;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				a::after {
					opacity: 0;
					transition: 0.1s;
				}
			}
			&:not(:hover) {
				a:after {
					transition: 0.1s;
				}
			}
		}
		@media (min-width: $mobile) {
			padding: rem(0) rem(0) rem(10) rem(0);
		}
		@media (min-width: $mobileSmall) {
			align-self: flex-end;
			padding: rem(0) rem(0) rem(7) rem(0);
		}
		@media (max-width: $mobile) {
			font-size: rem(16);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
	}
	// .item-content__navigation
	&__navigation {
		// .item-content__navigation_novelty
		&_novelty {
		}
	}
	// .item-content__slider
	&__slider {
	}
}
.slider-item {
	margin: rem(-10) rem(-340) rem(-10) rem(-340);
	// .slider-item_novelty
	&_novelty {
	}
	// .slider-item__inner
	&__inner {
		padding: rem(10) rem(340) rem(10) rem(340);
	}
	// .slider-item__wrapper
	&__wrapper {
	}
	// .slider-item__slide
	&__slide {
		display: flex;
		justify-content: center;
		&:last-child {
			margin-right: 0 !important;
		}
	}
}

//====================================================================================================
