.payment {
	// .payment__container
	&__container {
	}
	// .payment__breadcrumbs
	&__breadcrumbs {
	}
	// .payment__content
	&__content {
		display: flex;
		gap: rem(30);
		@media (max-width: $tablet) {
			flex-direction: column;
		}
		@media (max-width: $mobileSmall) {
			gap: rem(15);
		}
	}
	// .payment__main
	&__main {
		flex: 1 1 auto;
	}
	// .payment__title
	&__title {
		margin: rem(0) rem(0) rem(15) rem(0);
	}
	// .payment__item
	&__item {
	}
	// .payment__info
	&__info {
		flex: 1 0 rem(500);
		@media (max-width: em(1070)) {
			flex: 1 0 rem(400);
		}
		@media (max-width: $tablet) {
			flex: 0 1 100%;
		}
	}
	// .payment__table
	&__table {
		width: 100%;
		thead td {
			font-size: rem(18);
			line-height: 145%;
			color: rgba(29, 29, 29, 0.5);
			padding: rem(24) rem(5) rem(23) rem(5);
			text-align: center;
			@media (max-width: $mobileSmall) {
				font-size: rem(14);
				padding: rem(0) rem(5) rem(10) rem(5);
			}
			&:first-child {
				padding-left: rem(30);
				text-align: left;
				@media (max-width: $mobileSmall) {
					padding-left: rem(20);
				}
			}
			&:last-child {
				padding-right: rem(30);
				text-align: right;
				@media (max-width: $mobileSmall) {
					padding-right: rem(20);
				}
			}
			&:nth-child(2) {
				white-space: nowrap;
			}
		}
	}
	// .payment__result
	&__result {
		td {
			padding-top: rem(20) !important;
			@media (max-width: $mobileSmall) {
				padding-top: rem(17) !important;
			}
		}
		& + & {
			td {
				padding-top: rem(5) !important;
				padding-bottom: rem(5) !important;
			}
		}
	}
	// payment__button
	&__button {
		margin-top: rem(15);
		width: 100%;
	}
}
.breadcrumbs {
	// .breadcrumbs__link
	&__link {
	}
	// .breadcrumbs__link-current
	&__link-current {
	}
}
.item-payment {
	@media (min-width: $mobileSmall) {
		border-radius: rem(10);
	}
	background: #fff;
	box-shadow: 0 0 rem(10) 0 rgba(0, 0, 0, 0.1);
	padding: rem(35) rem(30);
	&:not(:last-child) {
		margin-bottom: rem(30);
		@media (max-width: $mobileSmall) {
			margin: rem(0) rem(0) rem(15) rem(0);
		}
	}
	table + & {
		margin: rem(30) rem(0) rem(0) rem(0);
	}
	@media (max-width: $mobileSmall) {
		padding: rem(20) rem(20);
	}
	td {
		padding: rem(5);
		text-align: center;
		i {
			font-size: rem(14);
			margin-left: rem(5);
		}
		@media (max-width: $mobileSmall) {
			padding: rem(8) rem(5);
			i {
				font-size: rem(12);
				margin-left: rem(3);
			}
		}
	}
	td:first-child {
		padding-left: rem(30);
		text-align: left;
		@media (max-width: $mobileSmall) {
			padding-left: rem(20);
		}
	}
	td:last-child {
		padding-right: rem(30);
		text-align: right;
		@media (max-width: $mobileSmall) {
			padding-right: rem(20);
		}
	}
	tr:first-child {
		td {
			padding-top: rem(35);
			@media (max-width: $mobileSmall) {
				padding-top: rem(20);
			}
		}
		td:first-child {
			border-top-left-radius: rem(10);
		}
		td:last-child {
			border-top-right-radius: rem(10);
		}
	}
	tr:last-child {
		td {
			padding-bottom: rem(35);
			@media (max-width: $mobileSmall) {
				padding-bottom: rem(20);
			}
		}
		td:first-child {
			border-bottom-left-radius: rem(10);
		}
		td:last-child {
			border-bottom-right-radius: rem(10);
		}
	}
	// .item-payment__title
	&__title {
		font-size: rem(18);
		line-height: 145%;
		margin: rem(0) rem(0) rem(25) rem(0);
		text-align: left !important;
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
			margin: rem(0) rem(0) rem(15) rem(0);
		}
	}
	// .item-payment__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		gap: rem(20);
	}
	// .item-payment__input
	&__input {
		flex: 0 1 calc(50% - rem(10));
		@media (max-width: $mobileSmall) {
			flex: 0 1 100%;
		}
		&_textarea {
			flex: 0 1 100%;
		}
	}
	// .item-payment__tabs
	&__tabs {
	}
	// .item-payment__product
	&__product {
	}
	// .item-payment__text
	&__text {
		font-size: rem(18);
		line-height: 145%;
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
	}
	// .item-payment__price
	&__price {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&_promo {
		input {
			margin: rem(15) rem(0) rem(0) rem(0);
			padding: rem(7) rem(10);
		}
		.button {
			width: 100%;
			background: $hoverGreen;
			margin: rem(25) rem(0) rem(0) rem(0);
			@media (any-hover: hover) {
				&:hover {
					transition: 0.1s;
					background: #4a695b;
				}
				&:not(:hover) {
					transition: 0.1s;
				}
			}
		}
	}
}
.tabs-item-payment {
	// .tabs-item-payment__navigation
	&__navigation {
		gap: rem(0);
		display: flex;
	}
	// .tabs-item-payment__title
	&__title {
		flex: 0 1 rem(190);
		//width: rem(190);
		padding: rem(12) rem(15);
		font-size: rem(18);
		line-height: 145%;
		text-align: center;
		color: #1d1d1d;
		background: #f9f9f9;
		transition: 0.2s;
		&:first-child {
			border-top-left-radius: rem(10);
			border-bottom-left-radius: rem(10);
		}
		&:last-child {
			border-top-right-radius: rem(10);
			border-bottom-right-radius: rem(10);
		}
		&._tab-active {
			background: #cb4a4a;
			color: #fff;
		}
		@media (max-width: $mobileSmall) {
			flex: 1 1 50%;
		}
	}
	// .tabs-item-payment__content
	&__content {
		padding: rem(30) rem(0) rem(0) rem(0);
	}
	// .tabs-item-payment__body
	&__body {
		.item-payment-form,
		.item-title {
			display: none;
		}
		.item-title {
			font-size: rem(18);
			line-height: 145%;
			margin: rem(20) rem(0);
			gap: rem(10);
			align-items: center;
			i {
				transform: rotate(180deg);
				font-size: rem(16);
			}
			@media (max-width: $mobileSmall) {
				font-size: rem(14);
				i {
					font-size: rem(12);
				}
			}
		}
		.new-item-button {
			margin: rem(20) rem(0) rem(0) rem(0);
		}
		&._empty {
			.item-payment-form {
				display: block;
			}
			.item-title {
				display: flex;
			}
			.checkbox,
			.new-item-button {
				display: none;
			}
		}
	}
}
.checkbox {
	// .checkbox__item
	&__item {
	}
	// .checkbox__input
	&__input {
	}
	// .checkbox__label
	&__label {
		align-items: center;
		&::before {
			margin: rem(4.05) rem(0) rem(0) rem(0);
		}
	}
	// .checkbox__text
	&__text {
		line-height: 145%;
	}
}
.result-payment {
	// .result-payment__title
	&__title {
	}
	// .result-payment__item
	&__item {
		display: flex;
		gap: rem(5);
		span {
			flex: 1 1 auto;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				top: calc(50% + rem(1));
				border-bottom: rem(1) dashed rgba(0, 0, 0, 0.5);
			}
		}
	}
	// .result-payment__price
	&__price {
		display: flex;
		align-items: center;
		// .result-payment__price_free
		&_free {
			color: $hoverGreen;
		}
	}
}
